[Desktop Entry]
Name=Progressive
Comment=Your app description here
Exec=progressive
Icon=io.github.h8moss.progressive
Terminal=false
Type=Application
Categories=Utility;
